<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scatch</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <h1>WELCOME TO SCATCH</h1>
</body>
</html>